@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2'),url('../fonts/Lato-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.woff2') format('woff2'),url('../fonts/Lato-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.woff2') format('woff2'),url('../fonts/Lato-Black.woff') format('woff');
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}
[class*="__container"]{
	max-width: 810px;
	margin: 0 auto;
}
.nav {
	background: #000;
}
.nav__container {
	padding: 10px 0px;
}
.nav-link{
	display: block;
	max-width: 140px;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	margin: 0 auto;
	text-transform: uppercase;
	border-radius: 25px;
}
.nav-link:hover {
	background-color: rgb(208, 200, 243);
}
.article__container {
	font-family: 'Lato';
	background-color: #fff;
	color: #424551;
}
.article__top {
	font-weight: 900;
	font-size: 46px;
	line-height: 59.8px;
	color: #1E212C;
	margin-bottom: 92px;
}
.article__img {
	max-width: 810px;
	margin-bottom: 60px;
}
.article__img img {
	width: 100%;
}
.article__text {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
	margin-bottom: 24px;
}
.article__text ~ p {
	font-size: 16px;
	line-height: 25.6px;
	margin-bottom: 48px;
}
.article__text + p{
	margin-bottom: 26px;
}
.article__quote {
	padding-left: 58px;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
	margin-bottom: 48px;
}
.article__quote + p {
	margin-bottom: 24px;
}
.article__list {
	margin-bottom: 24px;	
}
.article__list-item {
	padding-left: 32px;
	font-weight: 400;
	font-size: 16px;
	line-height: 25.6px;
	margin-bottom: 4px;
}
.article__list-item.last {
	margin-bottom: 0px;
}
.article__list + p{
	margin-bottom: 0px;
}
/* ============================================================ */
.aqua {
	background: linear-gradient(180deg, #C1E9FF 0%, #D1C1FF 100%);
	padding: 40px;
}
.aqua__container {
	font-family: "Raleway";
	background:url("../img/Crab.png") 0 50%/50px no-repeat, url("../img/ocean.png") bottom left/500px no-repeat, #fff url("../img/whale.png") top right/contain no-repeat ;
	padding: 20px 25px 20px 25px;
	border-radius: 40px;
}
.aqua__top {
	font-size: 20px;
	font-weight: 900;
	line-height: 2;
	letter-spacing: 5px;	
	text-transform: uppercase;
	background: linear-gradient(180deg, #1B18F9 0%, #1B18F9 46.35%, #E146AD 100%);
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	margin-bottom: 30px;
}
.aqua__text {
	max-width: 400px;
	padding: 20px;
	background: #d1c1ffa9;
	border-radius: 25px;
	margin-bottom: 40px;
	color: #454545;
}
.aqua__text-two {
	max-width: 400px;
	padding: 20px;
	background: #c1e9ff8b;
	border-radius: 25px;
	margin-bottom: 40px;
	color: #454545;
}
.end {
background: #000;
	}
.end__container {
	padding: 10px 0px;
}
.batton-link{
	display: block;
	max-width: 140px;
	text-align: center;
	background-color: #fff;
	padding: 10px;
	margin: 0 auto;
	text-transform: uppercase;
	border-radius: 25px;
}
.batton-link:hover {
	background-color: rgb(208, 200, 243);
}
