@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body {
	font-family: "Lato";
	line-height: 160%;
	color: #424551;
}
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
.header {
	padding-top: 20px;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
	margin-bottom: 120px;
	font-weight: 700;
	padding-bottom: 120px;
}
.header__img {
	display: inline-block;
}
img.logo {
	max-width: 130px;
	margin-right: 60px;
}
.header__link {
	display: inline-block;
}
.header__link a {
	line-height: 160%;
	text-decoration: none;
}
.header__link a:not(:last-child) {
	margin-right: 40px;
}
.header__link a:last-child {
	margin-right: 200px;
}
.header__link a:hover {
	color: #FF3F3A;
}
.header__link a:active {
	color: #ffffff;	
}
a:focus {
	outline: 1px dashed #d15c79;	
}
.batton {
	display: inline-block;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	margin-right: 35px;
}
.batton a{
	display: inline-block;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	letter-spacing: 0.5px;
	text-align: center;
	line-height: 52px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 0px 40px ;
}
.batton:hover {
	opacity: 0.8;
}
.batton a:hover {
	color: #130d16;
}
.login {
	display: inline-block;
	line-height: 160%;
}
.login.before::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/user.svg") 0 0 no-repeat;
	width: 17px;
	height: 18px;
	margin-bottom: -3px;
	margin-right: 9px;
}
.login a{
	text-decoration: none;
}
.login a:hover {
	color: #FF3F3A;
}
.login a:active {
	color: #ffffff;	
}
.header__nav {
	margin-bottom: 120px;
}
.header__title {
	text-align: center;
	line-height: 150%;
	color: #FF3F3A;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 1px;
}
.header__main-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	text-align: center;
}
.course__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 40px;
}
.course__text {
	margin-bottom: 100px;
}
.course__text > p{
	margin-bottom: 48px;
}
.course__list p {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}
.course__list li{
	padding-left: 32px;
	min-height: 20px;
	background: url('../img/icons/check.svg') 0 5px no-repeat;
}
.course__list li:not(:last-child) {
margin-bottom: 4px;
}
.curator__title {
	font-weight: 700;
	line-height: 150%;
	margin-bottom: 8px;
	color: #1E212C;
	text-transform: uppercase;
}
.curator__main-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin-bottom: 16px;	
}
.curator__proff {
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	color: #787A80;
	margin-bottom: 32px;
}
.curator__rang {
	margin-bottom: 32px;
}
.curator__rang li{
	font-weight: 700;
	line-height: 160%;
}
.curator__rang li:not(:last-child) {
	margin-bottom: 4px;
}
.curator__rang li:nth-child(1)::before {
	content: "";
	display: inline-block;
	background: url("../img/icons/star.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 9px;
}
.curator__rang li:nth-child(2)::before {
	content: "";
	display: inline-block;
	background: url("../img/icons/review.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 9px;
}
.curator__rang li:nth-child(3)::before {
	content: "";
	display: inline-block;
	background: url("../img/icons/user_red.svg") 0 0 no-repeat;
	width: 16px;
	height: 16px;
	margin-right: 9px;
}
.curator__text {
	margin-bottom: 40px;
}
.more {
	margin-bottom: 40px;
}
.more a:nth-child(1)::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/facebook.svg") 0 0 no-repeat;
	height: 22px;
	width: 12px;
}
.more a:nth-child(2)::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/behance.svg") 0 0 no-repeat;
	height: 16px;
	width: 24px;
}
.more a:nth-child(3)::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/twitter.svg") 0 0 no-repeat;
	height: 18px;
	width: 24px;
}
.more a:nth-child(4)::before{
	content: "";
	display: inline-block;
	background: url("../img/icons/linkedin.svg") 0 0 no-repeat;
	height: 20px;
	width: 20px;
}
.more a:not(:last-child) {
	margin-right: 24px;
}
.block {
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.block {
padding: 50px;
}
.block__hover {
background-color: rgba(255, 255, 255, 0.3);
border-radius: 25px;
padding: 20px;
margin-bottom: 20px;
}
.block__link {
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 700;
}
.block__link a{
	text-decoration: none;
}
.block__link a:hover {
	color: #FF3F3A;
}
.block__link a:active {
	color: #0546f7;
}
.block__link a:visited {
	color: #501d75;
}
.block__hiden {
	padding: 0px 30px;
	font-size: 20px;
	letter-spacing: 5px;
	text-shadow: 1px 1px 2px rgb(100, 96, 96);
	text-align: justify;
	transition: 3s;
	opacity: 0;
	visibility: hidden;
}
.block__hiden p:not(:last-child){
	margin-bottom: 10px;
}
.block__hover:hover .block__hiden {
	visibility: visible;
	opacity: 1;
}
.block__list {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	padding: 50px;		
}
.block__list ul>li {
	font-size: 20px;
	padding-left: 32px;
}
.block__list li::before {
	content: "";
	display: inline-block;
	background: url('../img/icons/check.svg') 0 5px no-repeat;
	width: 19px;
	height: 22px;
	margin-left: -32px;
	margin-right: 12px;
}
.block__list ul ul {
	display: none;
	color: #751d33;
}
.block__list ul li:hover ul {
	display: block;
}
.target {
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.target__block {
	padding: 50px;
	border-radius: 25px;
	font-size: 19px;
	text-align: justify;
	color: #751d33;
	display: none;
}
.target__block a {
	display: block;
	text-decoration: none;
}
.target__block:target {
display: block;
}
.target__block *:not(:last-child){
	margin-bottom: 15px;
}
.target__block *:first-child {
	text-decoration: overline;
}
.target__block p:last-of-type {
	letter-spacing: 3px;
}
.target__block p:nth-child(2) {
	text-decoration: underline;
}
.target__block *:nth-child(3) {
	font-weight: 900;
	color: #F75E05;
}
.target__block *:nth-child(odd) {
	background-color: rgba(235, 93, 93, 0.311);
}
.target__block *:nth-child(even) {
	background-color: rgba(100, 192, 202, 0.311);
}
.target__block a:hover{
	color: #b98787;
	transition: 0.5s;
}
.target__block p:nth-child(4) {
	text-decoration: line-through;
}


.game {
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
	padding: 50px;	
}
.game__title {
	color: rgb(255, 253, 253);
	font-weight: 900;
	text-transform: uppercase;
	font-size: 46px;
	text-align: center;
	margin-bottom: 100px;
	line-height: 150%;
}
.block__game {
	padding: 0px 100px;
}
.game__start {
	width: 50px;
	height: 50px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/start.svg") center center no-repeat;
	cursor: pointer;
}
.game__item-1 {
	display: inline-block;
	background: url("../img/icons/start.svg") 12px center no-repeat, url("../img/icons/right_arrow.svg") center center no-repeat, #fff  ;
	width: 800px;
	height: 50px;
	border-radius: 20px;
	opacity: 0;
	visibility: hidden;
}
.game__start:hover .game__item-1 {
	opacity: 1;
	visibility: visible;
}
.game__item-2 {
	width: 50px;
	height: 200px;
	margin-left: 750px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/bottom_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-1:hover .game__item-2 {
	opacity: 1;
	visibility: visible;
}
.game__item-3 {
	width: 700px;
	height: 40px;
	margin-top: 160px;
	margin-left: -650px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/left_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-2:hover .game__item-3 {
	opacity: 1;
	visibility: visible;
}
.game__item-4 {
	width: 30px;
	height: 100px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/bottom_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-3:hover .game__item-4 {
	opacity: 1;
	visibility: visible;
}
.game__item-5{
	width: 400px;
	height: 20px;
	margin-top: 80px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/right_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-4:hover .game__item-5 {
	opacity: 1;
	visibility: visible;
}
.game__item-6 {
	width: 20px;
	height: 70px;
	margin-left: 380px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/bottom_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-5:hover .game__item-6 {
	opacity: 1;
	visibility: visible;
}
.game__item-7 {
	width: 200px;
	height: 15px;
	margin-top: 60px;
	margin-left: -180px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/left_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-6:hover .game__item-7 {
	opacity: 1;
	visibility: visible;
}
.game__item-8 {
	width: 10px;
	height: 200px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/bottom_arrow.svg") center center no-repeat;
	opacity: 0;
	visibility: hidden;
}
.game__item-7:hover .game__item-8 {
	opacity: 1;
	visibility: visible;
}
.game__win {
	width: 50px;
	height: 50px;
	margin-top: 190px;
	margin-left: -20px;
	border-radius: 20px;
	display: inline-block;
	background: #fff url("../img/icons/over.svg") center center no-repeat;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
}
.game__item-8:hover .game__win {
	opacity: 1;
	visibility: visible;
}
.game__win:hover {
	background-color: #FF3F3A;
}
.game__congrats {
	display: none;
}
.game__congrats p {
	color: rgb(255, 253, 253);
	font-weight: 900;
	text-transform: uppercase;
	font-size: 46px;
	line-height: 150%;
	text-align: center;
}
.game__congrats p:nth-child(2){
	color: #0546f77e;
}
.game__congrats p:not(:last-child){
	margin-bottom: 34px;
}
.game__congrats:target {
	display: block;
}