@font-face {
	font-family: "BaskervilleDisplayPT";
   src: url('../fonts/BaskervilleDisplayPT-Regular.woff2') format('woff2'), url('../fonts/BaskervilleDisplayPT-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
	font-family: "BaskervilleDisplayPT";
   src: url('../fonts/BaskervilleDisplayPT-Bold.woff2') format('woff2'), url('../fonts/BaskervilleDisplayPT-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
	font-family: "BaskervilleDisplayPT";
   src: url('../fonts/BaskervilleDisplayPT-BoldItalic.woff2') format('woff2'), url('../fonts/../fonts/BaskervilleDisplayPT-BoldItalic.woff') format('woff');
   font-weight: 700;
   font-style: italic;
   font-display: swap;
}
.logo { 
	font-family: "BaskervilleDisplayPT"; 
	font-weight: 700;
	text-align: center;
	margin: 40px 0px;
	font-size: 100px;
	text-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.intro {
	font-family: "BaskervilleDisplayPT";
	text-align: justify;
	font-size: 18px;
	font-style: italic;
}
.title {
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.intro.gray{
	text-align: center;
	font-size: 19px;
	color: gray;
	text-decoration: underline;
	margin-bottom: 20px;
}
.descr {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0px 40px;
}
.intro.img {
	text-align: center;
}
.intro a {
	font-size: 22px;
	font-weight: 700;
	color: rgb(90, 32, 90);
	letter-spacing: 5px;
}
.brend {
	font-family: "Montserrat";
	color: rgba(46, 40, 46, 0.5);
	margin: 20px 0px 20px 0px;
	text-transform: uppercase;
}
.designer {
	font-family: "BaskervilleDisplayPT";
	font-size: 18px;
	text-transform: lowercase;
}
.designer.name {
	text-align: center;
	font-size: 50px;
	margin: 40px 0px 40px 0px;
	text-decoration: overline;
	text-transform: uppercase;
}
.designer .descr {
	text-indent: 20px;
	text-align: left;
	word-spacing: 10px;
}
.designer.img {
	text-align: center;
}
img {
	height: 800px;
}
.descr.kir {
	text-align: right;
	text-transform: capitalize;
}
.descr.yadviga {
	letter-spacing: 7px;
	font-size: 20px;
}
.nowar {
	font-size: 30px;
	text-decoration: line-through;
	line-height: 20px;
	text-transform: capitalize;
	white-space: nowrap;
	text-shadow: 1px 1px 5px #000;
}
.nowar ~ p{
	font-size: 30px;
	text-decoration: line-through;
	line-height: 20px;
	text-transform: capitalize;
	white-space: nowrap;
	color: rgb(178, 178, 15);
	text-shadow: 1px 1px 5px rgb(235, 237, 117);
}
.nowar + p{
	font-size: 30px;
	text-decoration: line-through;
	line-height: 20px;
	text-transform: capitalize;
	white-space: nowrap;
	color: rgba(0, 0, 255, 0.733);
	text-shadow: 1px 1px 5px rgb(42, 58, 236);
}
